<mat-grid-list [cols]="numberOfDaysInWeek" rowHeight="2:1">
        <mat-grid-tile *ngFor="let day of daysInMonth" (click)="addReminder(day)">
            <app-calendar-month-view-body-day matTooltip="{{message}}" class="full-space cursor" [date]="day" [reminders]="getReminders(day)"></app-calendar-month-view-body-day>
        </mat-grid-tile>
</mat-grid-list>
