<app-calendar-month-view-header [date]="selectedDate" (nextMonth)="onNextMonth($event)" (previousMonth)="onPreviousMonth($event)"></app-calendar-month-view-header>
<app-calendar-month-view-body [daysInMonth]="daysInSelectedMonth"></app-calendar-month-view-body>
