.cal-cell-row {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    height: 30px;
}

.cal-header {
    justify-content: space-around;
}

.cal-header-day {
    padding: 5px 0;
}
