<mat-toolbar class="cal-header">
  <mat-icon class="cursor" aria-hidden="false" aria-label="chevron_left" matTooltip="{{previous}}" (click)="getPreviousMonth()">chevron_left</mat-icon>
  {{date | date:'MMMM yyyy'}}
  <mat-icon class="cursor" aria-hidden="false" aria-label="chevron_right" matTooltip="{{next}}" (click)="getNextMonth()">chevron_right</mat-icon>
</mat-toolbar>
<mat-toolbar class="cal-cell-row" color="primary">
  <div class="cal-header-day" *ngFor="let day of daysOfWeek">{{day | titlecase}}</div>
</mat-toolbar>
