<div class="full-heigth">
    <span class="day-number">{{date.date.date()}}</span>
    <p  matTooltip="{{edit}}" [style.background-color]="reminder.color" class="reminder truncate" *ngFor="let reminder of reminders">{{reminder.text}}</p>
</div>