.day-number {
    font-size: 1.2em;
    font-weight: 400;
    opacity: .5;
    padding-left: 15px;
}

.reminder {
    padding: 0px 5px;
    margin: 5px;
    height: 18px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-heigth {
    height: 100%;
}
