<h3 class="margin">{{title}}</h3>
<mat-card class="margin">
    <mat-form-field class="full-width margin-bottom">
        <input matInput type="text" placeholder="Reminder..." maxlength="30" #text [formControl]="reminderFormControl" [(ngModel)]="reminder.text">
        <mat-hint align="start">Max 30 characters</mat-hint>
        <mat-hint align="end">{{text.value.length}} / 30</mat-hint>
        <mat-error *ngIf="reminderFormControl.hasError('required')">Reminder is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="half-width margin-right">
        <input matInput type="time" placeholder="Set time" [formControl]="timeFormControl"  (change)="onTimeChange($event)">
        <mat-error *ngIf="timeFormControl.hasError('required')">Time is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="half-width">
        <input matInput type="color" placeholder="Set color" [formControl]="colorFormControl" [(ngModel)]="reminder.color">
        <mat-error *ngIf="colorFormControl.hasError('required')">Color is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
        <button mat-button routerLink="/">Cancel</button>
        <button mat-button [disabled]="isButtonDisnabled()" color="primary" (click)="addReminder()">Save</button>
      </mat-card-actions>
</mat-card>
